services:
  metabase:
    image: metabase/metabase:v0.49.14
    container_name: metabase
    restart: always
    ports:
      - "3000:3000"
    env_file: .env
    volumes:
      - ./metabase-data:/metabase.db